:root {
  --font-sans: 'Candara', Candara, 'Segoe UI', Calibri, sans-serif;
  --accent: #ff9f43;
  --accent-2: #ffa852;
  --accent-3: #ffb162;
  --accent-4: #ffba72;
  --accent-5: #ffc382;
  --accent-6: #ffcca0;
  --bg: #000;
  --radius: 10px;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='light'] {
  --bg: #f5f5f5;
}
